# Enable logger job TRUE or FALSE
enable = true

# General system policy - values are ERROR, WARN, INFO, DEBUG
default.level = INFO

# Print mode values are COUT, FILE or BOTH
print.mode = BOTH

log.file.path = bin/partons.log

logger.DExpIntegrator1D = ERROR